In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Create an engine using SQLAlchemy
engine = create_engine('postgresql://testuser:testpassword@127.0.0.1:5432/postgres')

# Use the engine to read the SQL query into a DataFrame
df = pd.read_sql_query("SELECT * FROM employees", con=engine)

# Display the DataFrame
print(df)

   id     name department  salary   hire_date
0   1    Alice         HR   70000  2019-06-15
1   2      Bob         IT   90000  2020-03-20
2   3  Charlie    Finance   85000  2018-10-05
3   4    David         IT   95000  2021-07-12
4   5      Eve         HR   72000  2017-01-25

In [21]:
query = "SELECT * FROM employees WHERE department = 'IT'"
df = pd.read_sql_query(query, con=engine)
print(df)

   id   name department  salary   hire_date
0   2    Bob         IT   90000  2020-03-20
1   4  David         IT   95000  2021-07-12

In [23]:
query = "SELECT department, AVG(salary) FROM employees GROUP BY department"
df = pd.read_sql_query(query, con=engine)
print(df)

  department      avg
0    Finance  85000.0
1         IT  92500.0
2         HR  71000.0

In [38]:
query = """
SELECT name from employees where salary > (
    SELECT 
        AVG(salary) 
    FROM employees
)
"""
df = pd.read_sql_query(query, con=engine)
print(df)

      name
0      Bob
1  Charlie
2    David

In [73]:
query = """
SELECT name, department_name, salary
FROM employees
LEFT JOIN departments
ON departments.department_name = employees.department
"""

df = pd.read_sql_query(query, con=engine)
print(df)

query = """
SELECT name, department_name, MAX(salary)
FROM employees
LEFT JOIN departments
ON departments.department_name = employees.department
GROUP BY department_name
"""

df = pd.read_sql_query(query, con=engine)
print(df)

      name department_name  salary
0    Alice              HR   70000
1      Bob              IT   90000
2  Charlie         Finance   85000
3    David              IT   95000
4      Eve              HR   72000
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 1964, in _exec_single_context
    self.dialect.do_execute(
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/default.py", line 942, in do_execute
    cursor.execute(statement, parameters)
psycopg2.errors.GroupingError: column "employees.name" must appear in the GROUP BY clause or be used in an aggregate function
LINE 2: SELECT name, department_name, MAX(salary)
               ^


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3579, in run_code
  File "/tmp/ipykernel_13558/1289802558.py", line 19, in <module>
    df = pd.read_sql_query(query, con=engine)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/pandas/io/sql.py", line 526, in read_sql_query
    return pandas_sql.read_query(
           ^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/pandas/io/sql.py", line 1836, in read_query
    result = self.execute(sql, params)
             ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/pandas/io/sql.py", line 1659, in execute
    return self.con.exec_driver_sql(sql, *args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 1776, in exec_driver_sql
    ret = self._execute_context(
          ^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 1843, in _execute_context
    return self._exec_single_context(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 1983, in _exec_single_context
    self._handle_dbapi_exception(
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 2352, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/base.py", line 1964, in _exec_single_context
    self.dialect.do_execute(
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/sqlalchemy/engine/default.py", line 942, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.ProgrammingError: (psycopg2.errors.GroupingError) column "employees.name" must appear in the GROUP BY clause or be used in an aggregate function
LINE 2: SELECT name, department_name, MAX(salary)
               ^

[SQL:
SELECT name, department_name, MAX(salary)
FROM employees
LEFT JOIN departments
ON departments.department_name = employees.department
GROUP BY department_name
]
(Background on this error at: https://sqlalche.me/e/20/f405)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/pygments/styles/__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 2170, in showtraceback
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/ultratb.py", line 1457, in structured_traceback
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/ultratb.py", line 1348, in structured_traceback
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/ultratb.py", line 1195, in structured_traceback
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/ultratb.py", line 1085, in format_exception_as_a_whole
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/IPython/core/ultratb.py", line 1136, in get_records
  File "/home/kburla/src/projects/ds-ml-foundations/.venv/lib/python3.12/site-packages/pygments/styles/__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.